
body, #app {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .app-bar-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 100;
}

